.project-img {
  transition: transform 0.4s ease;
}
.project-card:hover .project-img {
  transform: scale(1.1);
}
body {
  scroll-behavior: smooth;
  background-color: #f8f9fa;
}

h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}
h1 span {
  color: #007bff;
}

h4 {
  font-weight: 600;
  min-height: 50px; 
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.profile-float { animation: float 3s ease-in-out infinite; }


.hover-scale { transition: transform 0.3s ease, box-shadow 0.3s ease; }
.hover-scale:hover { transform: translateY(-5px) scale(1.03); box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3); }


@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
.btn-pulse:hover { animation: pulse 1s infinite; }
.btn-hover:hover { transform: translateY(-2px) scale(1.02); transition: 0.3s ease-in-out; }
